*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
body{ 
    background-image: url(../img/banner.jpg);
}
ul li{
    margin-top: 70px;
}
ul li a{
    text-decoration: none;
    color: #F3E0B4;
    margin-right: 20px;
   
}
ul li a.active{
    margin-left: 200px;
    margin-right: 900px;
    color: #fff;
    font-size: large;
}